/* Ceremony Section */
.ceremony-section-outer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Slab', serif;
  background: transparent;
  position: relative;
}

.ceremony-frame {
  position: relative;
  width: calc(100vw - 50px);
  margin: 25px;
  min-height: calc(100vh - 50px);
  border: 1px solid #2D1C01;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
  padding: 44px 22px 38px 22px;
}

.ceremony-frame-content {
  position: relative;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  gap: 16px; /* Adds more vertical space between blocks */
}

.ceremony-pd-icon {
  width: 69px;
  height: 69px;
  margin-top: -10px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ceremony-title {
  color: #452A00;
  text-align: center;
  font-family: 'Italiana', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 117.776%;
  margin-bottom: 32px;
}

.ceremony-image-paper {
  width: 100%;
  text-align: center;
  margin-bottom: 38px;
}

.ceremony-church-icon {
  width: 210px;
  height: 120px;
  scale: 1.6;
  margin: 20px auto;
  display: block;
}

.ceremony-text-paper {
  text-align: center;
  margin-bottom: 28px;
  font-size: 20px;
  color: #48321A;
}

.ceremony-text-bold {
  font-weight: 600;
}

.ceremony-flower-icon {
  width: 64px;
  height: 58px;
  scale: 1.1;
  margin: 50px auto 40px auto;
}

.ceremony-address {
  font-size: 18px;
  color: #48321A;
  margin-top: 10px;
}

.ceremony-location-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
}

.ceremony-location-icon {
  width: 124px;
  height: 90px;
  scale: 1.2;
  margin-bottom: 10px;
}
