/* Home Section */
.home-section {
  position: relative;
}

.home-background {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.1) rotate(0.45deg);
}

.home-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}

.home-frame {
  position: relative;
  width: calc(100vw - 50px);
  min-height: calc(100vh - 50px);
  border: 1px solid #2D1C01;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}

.home-frame-content {
  position: absolute;
  width: 100%;
  max-width: 420px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}

.home-date {
  text-align: center;
  padding-top: 0rem;
  color: #2D1C01;
  font-size: 15px;
  font-weight: 400;
  line-height: 99.98%;
  letter-spacing: -0.9px;
}

.home-icon {
  width: 250px;
  height: auto;
  object-fit: contain;
}

/* Responsive adjustment for icon and spacer */
@media (max-width: 768px) {
  .home-icon {
    width: 220px;
  }
}

/* Responsive style: adjust image height and content padding for desktop screens */
@media (min-width: 1600px) and (min-height: 800px) {
  .home-background {
    transform: scale(1);
  }

  .home-date {
    font-size: 30px;
  }

  .home-icon {
    width: 100%;
    height: 160%;
    object-fit: cover;
    display: block;
    border: none;
    scale: 3;
    margin-top: 250px
  }
}